@page "/"
@using SmartMirror.Blazor.Client.ViewModels
@using SmartMirror.Blazor.Client.Models
@using SmartMirror.Blazor.Client.Controllers
@inject ClockViewModel ClockViewModel

@*<div id="availabilityDataEntry">
    <div id="clock">
        <p>@DateTime.Now</p>
    </div>
</div>*@

<div class="region">
    <div class="top">
        <div class="left">
            <p>@ClockViewModel.CurrentTime</p>
        </div>
        <div class ="region-top-center">
            <p>Online</p>
        </div>
    </div>
</div>

@code {

    //protected override Task OnInitAsync()
    //{
    //    var clockModel = new ClockModel();
    //    await ClockViewModel.Initialize(clockModel);
    //}

    //protected override async Task OnInitializedAsync()
    //{
    //    var clockModel = new ClockModel();
    //    await ClockViewModel.Initialize(clockModel);
    //}

    protected override void OnInitialized()
    {
        System.Console.WriteLine("_*   ");
        System.Console.WriteLine("_**************************");
        System.Console.WriteLine("_***** Clock rendered ******");
        System.Console.WriteLine("_**************************");
        System.Console.WriteLine("_   ");
        var clockModel = new ClockModel();
        ClockViewModel.Initialize(clockModel);
    }

}
