@page "/"
@using SmartMirror.Blazor.Client.ViewModels
@using SmartMirror.Blazor.Client.Models
@*@inject ClockViewModel ClockViewModel*@

@*<div id="availabilityDataEntry">
    <div id="clock">
        <p>@DateTime.Now</p>
    </div>
</div>*@

<div class="region top right">
    <p>@DateTime.Now</p>
</div>

@code {


    //private ClockViewModel model;

    //public async void OnLaunched()
    //{
    //    var clockModel = new ClockModel();
    //    await clockModel.Update();
    //}

}
